*,*:after,*:before{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.wrapper{
	display: flex;
	flex-direction: column;
	overflow:hidden;
  align-items: center;
  justify-content: center;
	min-height: 100vh;
  background-color:  hsl(212, 45%, 89%);
}
.content{
  display: flex;
  flex-direction: column;
  padding: 15px 15px 35px 15px;
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
.content-img{
  flex: 1 1 100%;
}
.content-img img{
  display: block;
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; 
}
.content-body{
  margin: 25px 0 0 0;
}
.content-body p,h2{
  font-family: 'Outfit', sans-serif;
}
.content-body h2{
  /* padding: 0 5px; */
  color: hsl(218, 44%, 22%);
}
.content-body p{
  margin: 15px 0 0 0;
  padding: 0 15px;
  font-size: 15px;
  color: hsl(220, 15%, 55%)
}